.cabinet-page {
  display: flex;
  gap: 15px;
}
.cabinet-page__side {
  flex-shrink: 0;
  width: 280px;
  border-right: 1px solid var(--color-gray);
}
.cabinet-page__menu {
  font-size: 1.05em;
}
.cabinet-page__menu-toggle-btn {
  display: none;
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
}
.cabinet-page__menu-toggle-btn:hover,
.cabinet-page__menu-toggle-btn--active {
  background-color: var(--color-light-yellow);
}
.cabinet-page__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.cabinet-page__menu-link {
  padding: 5px 10px;
  transition: color 0.2s ease-in-out;
}
.cabinet-page__menu-link:hover,
.cabinet-page__menu-link--active {
  color: var(--color-green);
}
.logout-button {
  width: 100%;
  margin-top: 25px;
  font-style: italic;
  font-size: 0.9em;
  border-top: 1px solid var(--color-gray);
}
.cabinet-page__content {
  width: 100%;
}
.cabinet-page__title {
  margin: 10px 0 15px;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 1000px) {
  .cabinet-page {
    flex-direction: column;
  }
  .cabinet-page__side {
    width: auto;
    border-right: none;
  }
  .cabinet-page__menu-toggle-btn {
    display: block;
  }
  .cabinet-page__menu-list {
    display: none;
  }
  .cabinet-page__menu-list--active {
    display: flex;
    margin-bottom: 15px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px 1px var(--color-dark-gray);
  }
  .logout-button {
    margin-top: 0;
  }
}
