.order-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.order-item {
  padding: 15px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px 0 var(--color-dark-gray);
}
.order-item__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}
.order-item__status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.order-item__status .order-item__status-value {
  padding: 5px;
  border-radius: var(--border-radius);
}
.order-item__status--pending .order-item__status-value {
  color: #fff;
  background-color: #f0ad4e;
}
.order-item__status--confirmed .order-item__status-value {
  color: #fff;
  background-color: #5bc0de;
}
.order-item__status--shipped .order-item__status-value {
  color: #fff;
  background-color: #0275d8;
}
.order-item__status--completed .order-item__status-value {
  color: #fff;
  background-color: #5cb85c;
}
.order-item__status--cancelled .order-item__status-value {
  color: #fff;
  background-color: #d9534f;
}
.order-item__order-number {
  display: flex;
  gap: 5px;
}
.order-item__order-number-value {
  font-weight: 500;
}
.order-item__products-title {
  margin-bottom: 10px;
}
.order-item__products-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-height: 400px;
  overflow: auto;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 5px 0 var(--color-gray);
}
.order-item__product {
  padding: 10px 0;
}
.order-item__product:not(:last-child) {
  border-bottom: 1px solid var(--color-gray);
}
.order-item__product-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.order-item__product-link:hover .order-item__product-name {
  color: var(--color-green);
}
.order-item__product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.order-item__product-quantity {
  color: var(--color-dark-gray);
}

.order-item__bottom {
  margin-top: 15px;
}
.order-item__bottom,
.order-item__total-container-price {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;
}

.order-item__total-container-date {
  font-size: 0.9em;
}
.order-item__total-container-price {
  font-size: 1.1em;
}
.order-item__total-price {
  color: var(--color-green);
  font-size: 1.1em;
  font-weight: 500;
}
@media (max-width: 700px) {
  .order-item__status-text {
    display: none;
  }
  .order-item__product-link {
    flex-wrap: wrap;
  }
  .order-item__product-name {
    width: calc(100% - 50px - 10px);
  }
  .order-item__product-quantity {
    margin-left: 60px;
  }
}
@media (max-width: 520px) {
  .order-item__top,
  .order-item__bottom {
    flex-direction: column;
    align-items: center;
  }
  .order-item__order-number {
    align-items: center;
  }
  .order-item__order-number-text {
    font-size: 0.8em;
  }
}
