.reviews {
  padding-top: 15px;
  border-top: 1px solid var(--color-gray);
}
.reviews__title {
  margin-bottom: 15px;
  font-weight: 500;
}
.reviews__form-toggle-btn {
  padding: 8px 10px;
  color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius);
  transition:
    color 0.2s,
    border-color 0.2s;
}
.reviews__form-toggle-btn:hover {
  color: var(--color-green);
  border-color: var(--color-green);
}
.reviews__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.reviews__form-container {
  margin: 25px 0;
}
.reviews__empty {
  margin: 25px 0;
  color: var(--color-dark-gray);
  text-align: center;
}
.review-form-loading {
  margin: 15px 0;
  text-align: center;
}
