.container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.slider {
  padding: 0 25px;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.3em;
}
.item {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid var(--color-gray);
}
.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.top {
  margin-bottom: 10px;
}
