.checkout-page__container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.checkout-page__main {
  flex: 1;
}
.checkout-page__second {
  width: 450px;
}
.checkout-page__holder-info {
  position: relative;
  padding: 15px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}
.checkout-page__holder-info__title {
  position: absolute;
  top: 0;
  padding: 0 5px;
  transform: translateY(-50%);
  background-color: #fff;
}
.checkout-page__product-list {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
}
.checkout-page__product-item {
  display: flex;
  gap: 15px;
  padding: 15px 0;
}
.checkout-page__product-item + .checkout-page__product-item {
  border-top: 1px solid var(--color-gray);
}
.checkout-page__product-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100px;
}
.checkout-page__item-title {
  margin-bottom: 10px;
}
.checkout-page__item-price {
  color: var(--color-green);
}
.checkout-page__holder-items__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px 0;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}
.checkout-page__holder-items__total-title {
  font-weight: 500;
}
.checkout-page__item-price-holder {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.checkout-page__item-quantity {
  font-size: 0.8em;
  color: var(--color-dark-gray);
}
.checkout-page__item-total-price {
  color: var(--color-green);
}
.checkout-page__holder-items__total-price {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--color-green);
}
.checkout-page__holder-info__button-submit {
  display: flex;
  margin: 0 auto;
  padding: 10px 15px;
  color: #fff;
  background-color: var(--color-green);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
}
.checkout-page__holder-info__button-submit:hover {
  background-color: var(--color-light-green);
}
