@import './reset.css';

:root {
  --color-black: #242424;
  --color-yellow: #fedb22;
  --color-light-yellow: #fff788;
  --color-green: #1db954;
  --color-light-green: #28d765;
  --color-dark-gray: #83837b;
  --color-gray: #eeeee4;

  --border-radius: 3px;
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-montserrat-alternates);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--color-black);
  scroll-behavior: smooth;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
a:focus-visible,
button:focus-visible {
  box-shadow: 0 0 0 2px #31a3db;
}
.box-shadow-white {
  box-shadow: 0 1px 8px #fff;
}
.box-shadow-dark {
  box-shadow: 0 1px 8px var(--color-black);
}
.smoothly-down {
  animation: smoothly-down 0.25s ease-in-out forwards;
}
.opacity-in {
  animation: opacity-in 0.25s ease-in-out forwards;
}

@keyframes smoothly-down {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icon-container {
  --color: #fff;
  --color-hover: #fff;
}
.icon-container:hover::before {
  background-color: var(--color-hover);
}
.icon-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color);
  transition: background-color 0.2s ease-in-out;
}
.label-field__title {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 0.8em;
  font-style: italic;
}
.input-success,
.input-error {
  margin-top: 5px;
  font-size: 0.75em;
  color: #ff0000;
}
.form-error {
  color: #ff0000;
  text-align: center;
}
.form-success {
  color: var(--color-green);
  text-align: center;
}
.underline-hover {
  text-decoration: underline;
}
.underline-hover:hover {
  text-decoration: none;
}
.row-button {
  display: flex;
  justify-content: center;
}
.input-success {
  color: var(--color-green);
}
.swiper {
  --arrow-color: var(--color-yellow);
  --arrow-color-hover: var(--color-light-yellow);
}
[class*='swiper-button'] {
  position: absolute;
  display: flex;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  font-size: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 5;
}
[class*='swiper-button']::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--arrow-color);
}
.swiper-button-next {
  left: auto;
  right: 5px;
}
.swiper-button-prev::after {
  -webkit-mask: url(/image/assets/circle-arrow-left.svg) no-repeat no-repeat 50% / contain;
  mask: url(/image/assets/circle-arrow-left.svg) no-repeat no-repeat 50% / contain;
}
.swiper-button-next::after {
  -webkit-mask: url(/image/assets/circle-arrow-right.svg) no-repeat no-repeat 50% / contain;
  mask: url(/image/assets/circle-arrow-right.svg) no-repeat no-repeat 50% / contain;
}
[class*='swiper-button']:hover::after {
  background-color: var(--arrow-color-hover);
}
.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  column-gap: 5px;
  z-index: 4;
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: 2px solid var(--color-yellow);
  border-radius: 50%;
  cursor: pointer;
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
  background-color: var(--color-light-yellow);
}
.product-title {
  --lines: 2;
  font-size: 0.9em;
  line-height: 1em;
  height: calc(var(--lines) * 1.05em);
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: text-shadow 0.2s;
}
.product-title:hover {
  text-shadow: 0 0 1px #453a38;
}
.page__title {
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
}
