.product-page__top {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.product-page__left,
.product-page__right {
  width: 50%;
}
.product-page__preview {
  padding: 15px;
}
.product-page__title {
  margin-bottom: 15px;
  font-size: 1.3em;
  font-weight: 500;
}
.product-page__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}
.product-page__code {
  color: var(--color-dark-gray);
}
.product-page__description {
  margin-bottom: 25px;
}
.product-page__price {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: var(--color-green);
}
@media (max-width: 1000px) {
  .product-page__left,
  .product-page__right {
    width: 100%;
  }
  .product-page__top {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .product-page__left,
  .product-page__right {
    width: 100%;
  }
  .product-page__top {
    flex-direction: column;
  }
  .product-page__rating {
    flex-direction: column-reverse;
    align-items: center;
  }
  .product-page__buy-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
