.container {
  margin: 15px 0;
}
.list {
  display: flex;
  align-items: center;
}
.item:not(:last-child)::after {
  display: inline-block;
  content: '⪢';
  margin: 0 5px;
}
.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}
