.container {
  max-width: 400px;
  margin: auto;
}
.slider {
  --arrow-color: var(--color-green);
  --arrow-color-hover: var(--color-light-green);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin-bottom: 25px;
}
.dots {
  justify-content: center;
}
.dots__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  height: 80px;
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  background-color: #fff;
  cursor: pointer;
}
:global(.swiper-slide-thumb-active).dots__btn {
  border-color: var(--color-yellow);
}
.dots__btn:hover {
  border-color: var(--color-yellow);
}
