.container {
  max-width: 400px;
  margin: auto;
}
.slider {
  --arrow-color: var(--color-green);
  --arrow-color-hover: var(--color-light-green);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin-bottom: 25px;
}
.dots__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 5px;
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  background-color: #fff;
  cursor: pointer;
}
:global(.swiper-slide-thumb-active).dots__btn {
  border-color: var(--color-yellow);
}
.dots__btn:hover {
  border-color: var(--color-yellow);
}
@media (max-width: 420px) {
  .item {
    height: 250px;
  }
  .dots__btn {
    height: 60px;
  }
}
